{% extends 'layout.html' %}
{% block content %}

<h2>Your Profile</h2>
<ul class="list-group mb-3">
    <li class="list-group-item"><strong>Name:</strong> {{ user.name }}</li>
    <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
    <li class="list-group-item"><strong>Address:</strong> {{ user.address }}</li>
</ul>
<a href="/catalogue" class="btn btn-primary">Back to Catalogue</a>
<a href="/profile/edit" class="btn btn-warning ms-2">Edit Profile</a>

{% endblock %}
